// 颜色定义规范
// $color-background : rgb(14, 12, 12);
$color-background : #fff;
$color-background-d : rgba(255, 255, 255, 0.3);
$color-highlight-background : rgb(145, 149, 160);
$color-dialog-background : #666;
$color-theme : #000;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-text : rgb(61, 58, 77);
$color-text-d : rgba(61, 58, 77, 0.6);
$color-text-l : rgb(0, 0, 0);
$color-text-ll : rgba(255, 255, 255, 0.8);

//字体定义规范
$font-size-small-s : 0.12rem;
$font-size-small : 0.14rem;
$font-size-medium : 0.16rem;
$font-size-medium-x : 0.18rem;
$font-size-large : 0.2rem;
$font-size-large-x : 0.24rem;